<div class="w-50 mx-auto mt-5">
  <h3>Change yout account's password</h3>
  <%= form_for(@user, as: :user, url: update_password_users_path, method: :post) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', readonly: true, focus: false %>
    </div>

    <div class="form-group">
      <%= f.label :role %>
      <%= f.text_field :role, class: 'form-control', readonly: true, focus: false, value: f.object.role.capitalize %>
    </div>
    <div class="form-group">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :new_password %><br />
      <%= f.password_field :new_password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :new_password_confirmation %><br />
      <%= f.password_field :new_password_confirmation, class: 'form-control' %>
    </div>


    <div class="actions">
      <%= f.submit "Change password", class: 'btn btn-primary w-100 mb-2' %>
    </div>
  <% end %>
</div>
