<%- can_update_role = enough_permission?(["superadmin"]) %>

<%= form_for(@user, as: :user, url: dashboard_user_path, method: :patch) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', disabled: true, focus: false %>
  </div>

  <div class="form-group">
    <%= f.label :role %>
    <%= f.select :role, options_for_select([['Member', 'member'], ['Admin', 'admin'], ['Super admin', 'superadmin']], selected: f.object.role), {}, { class: "form form-group form-control", disabled: !can_update_role }
    %>
  </div>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select([['Male', 'male'], ['Female', 'female']], selected: f.object.gender), {}, { class: "form form-group form-control" }
    %>
  </div>

  <div class="actions">
    <%= f.submit "Update info", class: 'btn btn-primary w-100 mb-2' %>
  </div>
<% end %>