<!DOCTYPE html>
<html>

<head>
  <title>Dashboard - Simple Wallet System</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Simple Wallet System</a>
    <div class="d-flex align-items-center">
      <div class="text-white"><%= current_user.email %></div>
      <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="vh-100 col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <%= link_to dashboard_root_path, class: "nav-link" do %>
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to dashboard_users_path, class: "nav-link" do %>
                <span data-feather="user"></span>
                User
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to dashboard_transactions_path, class: "nav-link" do %>
                <span data-feather="dollar-sign"></span>
                Transaction
              <% end %>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <%= render "layouts/flash_message" %>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h4><%= controller_name.singularize.capitalize %> > <%= action_name %></h4>
        </div>
        <%= yield %>
      </main>
    </div>
  </div>


  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>
</body>